
body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 80vw;
    margin: 0 auto;
    height: 100vh;
    background-color: lightgrey;
}

.home-screen-container {
    margin-top: 30vh;
    text-align: center;
    background-color: burlywood;
    width: 80vh;
    height: 60vh;
    border: 6px solid rgb(158, 132, 99);
    border-radius: 30px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 70px;
}

.buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    top: 50%;
    left: 50%;
}

.home-button {
    gap: 15px;
    width: 60px;
    margin: 10px auto;
    background-color: rgb(117, 37, 191);
    color: white;
    cursor: pointer;
}

.home-button:hover { /* Add effect here */
    color: rgb(229, 204, 12);
}

h3 {
    font-size: 14px;
}