#title {
    font-size: 40px;
    text-align: center;
    margin-bottom: 5px;
}

#goal {
    text-align: center;
    margin: 0 auto;
}

.general-btns-container {
    display: flex;
    gap: 20px;
    width: 300px;
    margin-top: 20px;
}

#exit-btn-container {
    margin-left: 10px;
}