
.container {
    width: 100%;
    height: 100vh;
}

.flexbox {
    display: flex;
    height: 75vh;
}

.top-segment {
    width: 100%;
    height: 25vh;
    background-color: yellow;
}

.left-segment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 25%;
    background-color: blue;
}

.middle-segment {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 50%;
    background-color: red;
    position: relative;
}

.right-segment {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 25%;
    background: green;
}

body {
    margin: 0!important;
}

#title {
    font-size: 40px;
    text-align: center;
    margin-bottom: 5px;
}

#goal {
    text-align: center;
    margin: 0 auto;
}

.general-btns-container {
    display: flex;
    gap: 8px;
    width: 300px;
    padding-top: 20px;
}

#exit-btn-container {
    margin-left: 10px;
}

.ingredients-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    border: 3px solid white;
    height: 50vh;
    padding: 20px;
    justify-content: space-evenly;
    align-items: center;
    place-items: center;
}

.ingredient {
    height: 70px;
    width: 70px;
}

/* Entire mixing station block */
.mixing-station-container {
    display: flex;
    flex-direction: column;
    border: 3px solid white;
    position: absolute;
    align-items: center;
    bottom: 25px;
    left: 0;
    right: 0;
    width: 80%;
    margin: 0 auto;
    box-sizing: border-box; /* will take into account padding in the overall width */
}

/* Top Row of 4 mixing slots & drink slot */
.mixing-station-top {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

/* 4 mixing slots */
.mixing-slots-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
    border: 3px solid white;
    place-items: center;
}

.mixing-slot {
    border: 2px solid purple;
    height: 40px;
    width: 40px;
    
}

/* Drink output */
.drink-slot-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border: 3px solid blue;
    margin-right: 20px;
}

#drink-slot {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    border: 2px solid orange;
}

/* Bottom row of functional buttons */
.mixing-station-btns-container {
    display: flex;
    justify-content: space-evenly;
    border: 2px solid purple;
    width: 100%;
}


