

.container {
    width: 100%;
    height: 100vh;
}

.flexbox {
    display: flex;
}

.top-segment {
    width: 100%;
    height: 25vh;
    background-color: grey;
}

.left-segment {
    width: 25%;
    height: 100vh;
    background-color: blue;
}

.middle-segment {
    width: 50%;
    height: 100vh;
    background-color: red;
}

.right-segment {
    width: 25%;
    height: 100vh;
    background: yellow;
}

body {
    margin: 0!important;
}

#title {
    font-size: 40px;
    text-align: center;
    margin-bottom: 5px;
}

#goal {
    text-align: center;
    margin: 0 auto;
}

.general-btns-container {
    display: flex;
    gap: 20px;
    width: 300px;
    padding-top: 20px;
}

#exit-btn-container {
    margin-left: 10px;
}