
.container {
    width: 100%;
    height: 100vh;
}

.flexbox {
    display: flex;
    height: 75vh;
}

.top-segment {
    width: 100%;
    height: 25vh;
    background-color: yellow;
}

.left-segment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 25%;
    background-color: blue;
}

.middle-segment {
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* to place things at the bottom */
    align-items: center;
    height: 100%;
    width: 50%;
    background-color: red;
    position: relative;
}

.right-segment {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 25%;
    background: green;
}

body {
    margin: 0!important;
}

#title {
    font-size: 40px;
    text-align: center;
    margin-bottom: 5px;
}

#goal {
    text-align: center;
    margin: 0 auto;
}

.general-btns-container {
    display: flex;
    gap: 8px;
    width: 300px;
    padding-top: 20px;
}

#exit-btn-container {
    margin-left: 10px;
}

.ingredients-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    border: 3px solid white;
    height: 50vh;
    padding: 20px;
    justify-content: space-evenly;
    align-items: center;
    place-items: center;
}

.ingredient {
    height: 70px;
    width: 70px;
}

/* Entire mixing station block */
.mixing-station-container {
    display: flex;
    flex-direction: column;
    border: 3px solid white;
    position: relative;
    align-items: center;
    bottom: 25px;
    left: 0;
    right: 0;
    width: 80%;
    margin: 0 auto;
    box-sizing: border-box; /* will take into account padding in the overall width */
}

/* Top Row of 4 mixing slots & drink slot */
.mixing-station-top {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

/* 4 mixing slots */
.mixing-slots-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
    border: 3px solid white;
    place-items: center;
}

.mixing-slot {
    border: 2px solid purple;
    height: 40px;
    width: 40px;
    
}

/* Drink output */
.drink-slot-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border: 3px solid blue;
    margin-right: 20px;
}

#drink-slot {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 2px solid orange;
}

/* Bottom row of functional buttons */
.mixing-station-btns-container {
    display: flex;
    justify-content: space-evenly;
    border: 2px solid purple;
    width: 100%;
}

/* Customer and their dialogue */
.customer-display-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    border: 2px solid grey;
    position: relative;
    height: 250px;
    margin-bottom: 30px;
}

.customer-container {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

#customer {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    background: orange;
    border-radius: 50%;
    border: 2px solid green;
    bottom: -40px;
}

#dialogue {
    position: absolute;
    top: -60px;
    right: -120px;
    padding: 8px 12px;
    border-radius: 10px;
    font-size: 14px;
    max-width: 160px;
    box-shadow: 2px 2px 0 black;
    background-color: white; 
    z-index: 2; /* layer */
}

/* Game modifier bars */
.modifier-bars-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    gap: 10px;
    padding: 20px;
    bottom: 10px;
}

.energy-bar-blocks {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.charm-bar-blocks {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.intuition-bar-blocks {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.bar-label {
    font-size: 14px;
    font-weight: bold;
    color: white;
    margin: 4px;
}

.bar-block {
    width: 30px;
    height: 20px;
    border: 2px dashed white;
    border-radius: 4px;
    box-sizing: border-box;
}

.energy-bar-filled {
    background-color: #e8d717;
}

.charm-bar-filled {
    background-color: #ee4920;
}


.intuition-bar-filled {
    background-color: rgb(175, 94, 175);
}

.bar-empty {
    background-color: transparent;
}

/* Dropdown recipe guide */
.hamburger-menu-container {
    position: absolute;
    width: 100%;
}

#hamburger-menu {
    display: none;
    cursor: pointer;
}

#hamburger-icon {
    position: absolute;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    right: 4px;
    top: 4px;
    gap: 5px;
    margin: 4px;
    padding: 10px;
}

.hamburger-line {
    width: 30px;
    height: 6px;
    background: white; 
    border-radius: 2px;
}

.recipe-dropdown-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding: 20px;
    gap: 12px;
    border-radius: 20px;
    background-color: rgb(215, 214, 214);
    text-align: center;
    margin: 20px auto 20px auto;
    box-sizing: border-box;
}

.dropdown-drink-name {
    margin: 10px auto 10px auto;
    border: 2px solid white;
}

.dropdown-drink-description {
    margin: 10px auto 10px auto;
    border: 2px solid white;
}

.dropdown-drink-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 40%;
    margin: 10px auto 10px auto;
    background-color: orange;
    border: 2px solid black;
    border-radius: 16px;
}

.page-selectors {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 10px;
}

#previous, #next {
    padding: 5px 8px;
    font-size: 10px;
}

/* Result screen */
#result-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
}

.result-buttons-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    width: 235px;
}

.result-button {
    padding: 0.75rem 1.5rem;
    color: #ffffff;
    background-color: rgb(83, 38, 104);
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.result-button:disabled {
    background-color: #888;
    color: #ccc;
    cursor: not-allowed;
}

.hidden {
    display: none !important;
}

#hamburger-menu ~ .recipe-dropdown-container {
    display: none;
}

#hamburger-menu:checked ~ .recipe-dropdown-container {
    display: flex;
}

/* drink-icons */
.drink {
    width: 32px;
    height: 32px;
    background-image: url("/assets/drinks.png");
    background-size: auto;
    background-repeat: no-repeat;
    image-rendering: pixelated;
}

.drink.cream-white { background-position: 0px -32px; }

.drink.red { background-position: 0px 0px; }

.drink.black { background-position: -96px 0px; }

.drink.brown { background-position: -32px -32px; }

.drink.green { background-position: -160px -32px; }

.drink.pink { background-position: -160px 0px; }

.drink.mystery { background-position: -128px -32px; }
