
.container {
    width: 100%;
    height: 100vh;
}

.flexbox {
    display: flex;
    height: 100vh;
}

.top-segment {
    width: 100%;
    height: 25vh;
    background-color: yellow;
}

.left-segment {
    width: 25%;
    height: 100vh;
    background-color: blue;
    justify-content: center;
    align-items: center;
}

.middle-segment {
    width: 50%;
    height: 100vh;
    background-color: red;
}

.right-segment {
    width: 25%;
    height: 100vh;
    background: green;
}

body {
    margin: 0!important;
}

#title {
    font-size: 40px;
    text-align: center;
    margin-bottom: 5px;
}

#goal {
    text-align: center;
    margin: 0 auto;
}

.general-btns-container {
    display: flex;
    gap: 8px;
    width: 300px;
    padding-top: 20px;
}

#exit-btn-container {
    margin-left: 10px;
}

.ingredients-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    border: 3px solid white;
    height: 50vh;
    margin-top: 50%;
    padding: 20px;
    justify-content: space-evenly;
    align-items: center;
    place-items: center;
}

.ingredient {
    height: 70px;
    width: 70px;

}

